<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	        <!-- <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="oi oi-caret-right"></i>
	                            <span>Cadastro do Usuário</span>
	                        </li>
	                    </ul>
	                </div>
	            </nav>
	        </div>
	 -->
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        	
	            <form th:action="${vaga.id == null} ? @{/vagas/salvar} : @{/vagas/editar}" 
	             th:object="${vaga}" method="POST">
	                <div class="form-row">
	                       <div class="form-group col-md-2">
	                        <label for="cep">Código do Senac</label>
	                        <input type="text" class="form-control" id="codigoSenac"  
	                             autofocus="autofocus"  th:field="*{codigoSenac}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    </div>
	                    <div class="form-row">
	                    <div class="form-group col-md-5">
	                       <label for="atividadesPrincipais">Atividade Principal</label>
	                        <input type="text" class="form-control" id="atividadesPrincipais"  
	                             autofocus="autofocus"  th:field="*{atividadesPrincipais}"/>
	                             </div>
	                    </div>
	                    
	                    <div class="form-row">
	                    <div class="form-group col-md-2">
	                        <label for="dataEntrada"> Início da vaga</label>
	                        <input type="date" class="form-control" id="inicio" name="inicio" th:field="*{inicio}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                </div>
	                
	                    <div class="form-group col-md-2">
	                        <label for="dataEntrada">Encerramento da vaga</label>
	                        <input type="date" class="form-control" id="fim" name="fim" th:field="*{fim}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                </div>
	               </div>
	               <div class="form-row">
	                 <div class="form-group col-md-6">
	                        <label for="nome">Descricao da Vaga</label>
	                        <textarea type="text" class="form-control" id="descricao" 
	                               autofocus="autofocus" th:field="*{descricao}"></textarea>
	                        <div class="invalid-feedback">
	
	                        </div>
	                        </div>
	               </div>
	                <div class="form-row">
	                <div class="form-group col-md-6">
	                        <label for="cep">Cargo a ser disponibilizado</label>
	                        <input type="text" class="form-control" id="cargo"  
	                             autofocus="autofocus"  th:field="*{cargo}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                  
	                </div>
	                
	                 <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="cidade">Cidade</label>
	                        <input type="text" class="form-control" id="cidade" th:field="*{endereco.cidade}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="logradouro">Logradouro</label>
	                        <input type="text" class="form-control" id="logradouro" 
	                               placeholder="logradouro sem número" th:field="*{endereco.logradouro}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-2">
	                        <label for="numero">Número</label>
	                        <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="complemento">Complemento</label>
	                        <input type="text" class="form-control" id="complemento" 
	                               placeholder="fundos, casa, AP. 102, .." th:field="*{endereco.complemento}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="bairro">Bairro</label>
	                        <input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="uf">UF</label>
	                        <select id="uf" class="form-control" th:field="*{endereco.uf}">
	                            <option value="">Selecione...</option>
	                            <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}"></option>
	                        </select>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                    <div class="form-group col-md-2">
	                        <label for="cep">Cep</label>
	                        <input type="text" class="form-control" id="cep" data-mask="00000-000" 
	                               th:field="*{endereco.cep}"/>
	                        <div class="invalid-feedback">
	
	                        </div>
	                    </div>
	                </div>
	                <input type="hidden" id="id" th:field="*{id}"/>
	                <button type="submit" class="btn btn-primary btn-md"><span>Salvar</span></button>
	            </form>
	        </div>
	    </section>
</body>
</html>		