<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a  class="nav-link" th:href="@{/usuarios/cadastrar}"><i class="fa fa-user-o fa-3x" id="icon"></i><br/>
					<span style="color:#fff;">Perfil do Usuário</span>
					</a></li>
					
					<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-university fa-3x" id="icon"></i><br/>
					<span style="color:#fff; margin-left: 20%;">Stand</span>
					</a></li>
					
					<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-building-o fa-3x" id="icon"></i><br/>
					<span style="color:#fff; margin-left: 20%;">Empresa</span>
					</a></li>
					
					<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-calendar fa-3x" id="icon"></i><br/>
					<span style="color:#fff; margin-left: 20%;">Eventos</span>
					</a></li>
					
					<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-handshake-o fa-3x" id="icon" ></i><br/>
					<span style="color:#fff; margin-left: 20%;">Vagas</span>
					</a></li>
					
					<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-id-card-o fa-3x" id="icon"></i><br/>
					<span style="color:#fff; margin-left: 20%;">Currículo</span>
					</a></li>
				</ul>			
			</nav>
</body>
</html>